.Thomas {
  font-family: Helvetica;
  background: #f0f2f5;
}

.main {
  background: url(../../assets/clouds.png) fixed bottom no-repeat;
}

@media screen and (min-width: 1680px) {
  .city-height {
    height: 950px;
  }
}

@media screen and (max-width: 1679px) {
  .city-height {
    height: 800px;
  }
}

@media screen and (max-width: 1379px) {
  .city-height {
    height: 560px;
  }
}

@media screen and (max-width: 979px) {
  .city-height {
    height: 380px;
  }
}

@media screen and (max-width: 679px) {
  .city-height {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .city-height {
    height: 180px;
  }
}

.parallax {
  display: flex;
  width: 100%;
  background: url("../../assets/transition_image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  bottom: 0;
}

.mask {
  display: flex;
  mask: url("../../assets/clouds_back.png");
  mask-size: cover;
  -webkit-mask: url("../../assets/clouds_back.png");
  -webkit-mask-size: cover;
  width: 100%;
  height: 100%;
}

.clouds {
  z-index: 50;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.team {
  display: flex;
  width: 100%;
  background: #37363d;
  padding: 20px 0;
  justify-content: center;
}

@media screen and (min-width: 501px) {
  .team-position {
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  .team-position {
    flex-direction: column;
  }
}
