.header-logo {
  display: flex;
  height: 100px;
}

.footer {
  background-color: #001529;
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
  align-items: center;
  padding: 0 50px;
  justify-content: space-evenly;
}

.footer-brand {
  text-align: justify;
  color: #fff;
  font-size: 13px;
  width: 60%;
  min-width: 300px;
  height: auto;
  padding: 0 20px;
}

@media screen and (max-width: 700px) {
  .footer-brand-size {
    font-size: 10px;
  }
}

.footer-logo {
  display: flex;
}

@media screen and (max-width: 600px) {
  .footer-position {
    flex-direction: column;
    padding: 10px;
  }
}

.carousel {
  flex: 1;
  text-align: center;
  position: relative;
  -webkit-mask-image: linear-gradient(to top, transparent 1%, #f0f2f5 20%);
  mask-image: linear-gradient(to top, transparent 1%, #f0f2f5 20%);
}

.carousel-text {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
    メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック",
    "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
  color: black;
}

.contact {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
  background: #f0f2f5;
}

@media screen and (max-width: 800px) {
  .contact-position {
    flex-direction: column;
  }
}

.map-img {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  min-width: 20%;
}

@media screen and (max-width: 800px) {
  .map-size {
    width: 70%;
  }
}

.team-card {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color: #f0f2f5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .team-card-space {
    padding: 20px 0;
  }
}

.team-card-photo {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.2s;
  clip-path: circle(50% at center);
}

.team-card-photo:hover {
  transform: scale(1.05);
}
